.wrapper
{
    margin: 15px 0;
    font-size: 1.8rem;   
    color: #d5d5d5;
    margin: 12px 0;
}


.star-gold
{
    width: 15px;
    color: #FFCE3E;
}
.sum-rating
{
    margin-left: 4px;
    color: var(--text-color);
}