.wrapper
{
    margin-top: 300px;
    background-color: #000;
    color: #fff;

    .content
    {
        padding: 78px 0 37px;
    
        .heading
        {
            font-size: 2rem;
            font-weight: 500;
        
        }
        .list
        {        
            .item
            {
                margin: 9px 0;
            }
        }
    }
    .footer__copyright
    {
        height: 100%;
        display: flex;
        align-items:flex-end;
    }
}



