/* Summary */
.summary
{
    border-radius: 12px;
    box-shadow: 0 0 5px rgb(0,0,0,0.2);
}
.product
{
    position: relative;
    padding: 48px 48px 112px;
}
.product__header
{
    display: flex;
    padding-bottom: 24px;
    border-bottom: 0.5px solid #ccc;

}
.product__img
{
    width: 100px;
    height: 100px;

}
.product__body
{
    margin-left: 12px;
    font-size: 1.6rem;

}
.product__name
{
    margin: 0;
    font-size: 1.6rem;
    font-weight: 600;

}
.product__size
{
    color: #757575;
    display: block;

}
.product__color
{
    color: #757575;

}
.product__amout
{
    color: #757575;

}
.product__price
{
    padding: 20px 0;
    border-bottom: 0.5px solid #ccc;
}
.product__price-current,
.product__price-transport,
.product__price-final
{
    margin: 4px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.product__price-current p,
.product__price-transport p,
.product__price-final p
{
    margin: 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
}
.product__price-final p
{
    font-weight: 600;
}
.product__price-current span,
.product__price-transport span,
.product__price-final span
{
    font-size: 1.6rem;
    font-weight: 600;
    color: #000;
}

.product__pay-btn
{
    position: absolute;
    right: 48px;
    bottom: 48px;
    margin-top: 20px;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 24px;
    padding: 8px 24px;
    background-color: #000;
    cursor: pointer;
}
.product__pay-btn:hover
{
    opacity: 0.8;
}

.carts__item
{
    margin: 12px 0;
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.carts__item:last-child
{
    border-bottom: none;
}
.carts__item-img 
{
    margin: 0 12px;
    width: 100px;
    height: 100px;
}
.carts__item-body
{
    flex: 1;
}
.cart__item-name
{
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
    
}
.cart__item-infor
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    color: #757575;
    margin: 10px 0;

}

.cart__item-price
{
    font-weight: 600;
    color: #111111;
}
